<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.opera.link.android.notes">
    <application android:icon="@drawable/icon" android:debuggable="true">
        <activity android:name=".OperaNotes" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="operaapi" android:host="operanotes"/>
            </intent-filter>
        </activity>
        <activity android:name=".NoteEdit"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:targetSdkVersion="4" android:minSdkVersion="14"/>
</manifest>
